.breadcrumb {
    display: grid;
    grid-template-columns: $large-size [col-start] $medium-size [col-start] 1.5 * $large-size [col-start] $small-size [col-start] 130px [col-start];

    font-size: small;
    text-align: center;

    p {
        margin-top: 1.5 * $large-size;
        margin-left: $normal-size;
    }

    .divider {
        color: $grey;
    }

    .item {
        color: $text;
    }
}