.site-map {
    background-color: $white;

    padding-left: $large-size;
    padding-right: $large-size;
    padding-top: $small-size;

    height: 30vh;

    @include tinyScreen() {
        display: none;
    }

    color: $black;

    @include element(grid) {
        display: grid;
        grid-template-columns: 33% [col-start] 33% [col-start] 33% [col-start];
        column-gap: 2.66%;
        row-gap: $large-size;

        @include smallScreen() {
            column-gap: 10%;
        }

        @include element(option) {
            text-decoration: none;
            color: $black;
        }
    }

    div {
        margin-top: $normal-size;
        color: $black;
    }
}