.basic-site {
    background-color: black;
}

.qee-more {
    background-color: #f2be42ff;
    height: 100vh;
}

.leadme-more {
    background-color: #e7eef2ff;
    height: 100vh;
}

.banner {
    @include element(image) {
        border-radius: 0;
    }

    @include element(title) {
        position: absolute;
        font-size: $large-size;
        top: $large-size;
        padding-top: 10vh;
        padding-left: $xlarge-size;
        padding-right: $xlarge-size;
        color: $text;

        @include tinyScreen {
            padding-top: 6vh;
        }
    }

    @include element(description) {
        position: absolute;
        top: $large-size;
        padding-top: 5vh;
        padding-left: $xlarge-size;
        padding-right: $xlarge-size;
        color: $text;

        @include tinyScreen {
            display: none;
        }

        @include smallScreen {
            display: none;
        }
    }
}


.site {

    @include modifier(more) {

        @include modifier(light) {
            color: $darker;
        }

        color: $text;

        @include element(description) {
            position: absolute;
            padding-top: $xlarge-size;
            padding-left: $xlarge-size;
            padding-right: $large-size;

            @include smallScreen {
                display: none;
            }

            @include tinyScreen {
                display: none;
            }

            @include modifier(tiny) {
                position: absolute;
                display: none;
                padding-top: $large-size;
                padding-left: $xlarge-size;
                padding-right: $xlarge-size;

                @include tinyScreen {
                    display: block;
                }

                @include smallScreen {
                    display: block;
                }
            }
        }

        @include element(image) {
            width: 100vw;
            border-radius: 0;

            @include tinyScreen {
                display: none;
            }

            @include modifier(tiny) {
                display: none;
                margin-left: auto;
                margin-right: auto;
                width: 100vw;
                border-radius: 0;

                @include tinyScreen {
                    display: block;
                }
            }
        }
    }

    @include modifier(right) {
        display: grid;
        grid-template-columns: 34% [col-start] 66% [col-start];

        padding-top: 25vh;

        @include smallScreen {
            grid-template-columns: 50% [col-start] 50% [col-start];
        }

        @include tinyScreen {
            grid-template-columns: 100% [col-start];
            text-align: center;
            font-size: small;
        }

        color: $text;
        height: 85vh;

        @include element(image) {
            max-height: 90%;
            max-width: 90%;
            width: auto;

            @include tinyScreen {
                display: none;
            }

            @include modifier(tiny) {
                display: none;
                margin-left: auto;
                margin-right: auto;
                height: 25vh;
                width: auto;

                @include tinyScreen {
                    display: block;
                }
            }
        }

        @include element(description) {
            padding-top: $xlarge-size;
            padding-left: $xlarge-size;
            padding-right: $large-size;

            @include smallScreen {
                padding-top: $medium-size;
                padding-left: $large-size;
                padding-right: $small-size;
            }

            @include tinyScreen {
                padding-top: $small-size;
                padding-right: $large-size;
            }

            @include element(call-to-action) {
                width: 100%;
                text-align: center;
                padding-top: $small-size;
                cursor: pointer;

                @include element(arrow) {
                    margin-top: -$normal-size;
                }
            }
        }
    }

    @include modifier(left) {
        display: grid;
        grid-template-columns: 66% [col-start] 34% [col-start];

        padding-top: 25vh;

        @include smallScreen {
            grid-template-columns: 50% [col-start] 50% [col-start];
        }

        @include tinyScreen {
            grid-template-columns: 100% [col-start];
            text-align: center;
            font-size: small;
        }

        color: $text;
        height: 85vh;

        @include element(image) {
            max-height: 90%;
            max-width: 90%;
            width: auto;

            @include tinyScreen {
                display: none;
            }

            @include modifier(tiny) {
                display: none;
                margin-left: auto;
                margin-right: auto;
                height: 25vh;
                width: auto;

                @include tinyScreen {
                    display: block;
                }
            }
        }

        @include element(description) {
            padding-top: $xlarge-size;
            padding-left: $xlarge-size;
            padding-right: $large-size;

            @include smallScreen {
                padding-top: $medium-size;
                padding-left: $large-size;
                padding-right: $small-size;
            }

            @include tinyScreen {
                padding-top: $small-size;
                padding-right: $large-size;
            }

            @include element(call-to-action) {
                width: 100%;
                text-align: center;
                padding-top: $small-size;
                cursor: pointer;

                @include element(arrow) {
                    margin-top: -$normal-size;
                }
            }
        }
    }
}