.deborah {
    background-color: black;
}

.site--right {
    display: grid;
    grid-template-columns: 34% [col-start] 66% [col-start];

    padding-top: 25vh;

    @include smallScreen {
        grid-template-columns: 45% [col-start] 55% [col-start];
    }

    @include tinyScreen {
        grid-template-columns: 100% [col-start];
        text-align: center;
        font-size: small;
    }

    color: $text;
    height: 85vh;

    @include element(image) {
        max-height: 90%;
        max-width: 90%;
        width: auto;

        @include tinyScreen {
            display: none;
        }

        @include modifier(tiny) {
            display: none;
            margin-left: auto;
            margin-right: auto;
            height: 25vh;
            width: auto;

            @include tinyScreen {
                display: block;
            }
        }
    }

    @include element(description) {
        padding-top: $xlarge-size;
        padding-left: $xlarge-size;
        padding-right: $xlarge-size;

        @include smallScreen {
            padding-top: $medium-size;
        }

        @include tinyScreen {
            padding-top: $small-size;
        }

        @include element(call-to-action) {
            width: 100%;
            text-align: center;
            padding-top: $small-size;
            cursor: pointer;

            @include element(arrow) {
                margin-top: -$normal-size;
            }
        }
    }
}