$xtiny-size: 2.5px;
$tiny-size: 5px;
$small-size: 10px;
$normal-size: 15px;
$medium-size: 22px;
$large-size: 42px;
$xlarge-size: 100px;

// For normal rendering
$max-width: 1300px;
$min-width: 630px;

$muted: grey;
$grey: #f2f2f2;
$lightgrey: lighten($grey, 5%);
$lightergrey: lighten($grey, 15%);
$light: whitesmoke;
$brand: #5045e4;
$secondary: #7c7a7a;
$primary: #70a0af;
$white: #fffdf7;
$black: #2d2327;
$dark: #494949;
$darker: #232323;
$highlight: #7c7a7a;
$success: #A9C46B;
$text: white;
$danger: #ab2346;
$orange: #ef8354;
$violet: #45364b;
$rose: #af90a9;
$cool: #8c93a8;

$leadme: #2196f3;
$yata: #ea5e4f;
$cents: #7bbdd0;
$pass: #70a0af;